body {
  text-align: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

.error {
  color: rgb(255, 75, 75)
}

a {
  color: rgb(102, 151, 255)
}